- id_prefix = "device_#{@note.device_id}"
- if @note.valid?
  $('#new_note').after('#{ escape_javascript (haml :"device_notes/note", locals: { note: @note }) }');
  $('##{id_prefix}_post_new_note').val('');
  $('##{id_prefix}_post_new_note').focus();
