$('#paginate').html('#{ escape_javascript haml :"shared/paginate", :locals => {collection: @cartridge_types, href: lambda{|p| url("/cartridge_types?#{build_query(p)}", false)} } }');
- if @cartridge_types.any?
  $('#cartridge_types').html('#{ escape_javascript @cartridge_types.map{|cartridge_type| haml :"cartridge_types/cartridge_type", locals: { cartridge_type: cartridge_type }}.join("") }');
- else
  $('#cartridge_types').html('#{ escape_javascript haml :"shared/empty", locals: { colspan: 2 } }');